@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif, "DM Serif Display", serif;
}

main {
  display: grid;
  background-color: #2d2640;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 24px;
  position: relative;
  background: #fafafa;
  z-index: 10;
}
@media screen and (min-width: 1280px) {
  .nav-bar {
    padding: 24px 165px 24px 165px;
  }
}
.nav-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .nav-bar::after {
    display: none;
  }
}
.nav-bar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 32px;
  width: 32px;
  border: solid 1px #2d2640;
  background-color: transparent;
  transition: all 0.1s ease-in-out;
}
@media screen and (min-width: 768px) {
  .nav-bar__btn {
    display: none;
  }
}
.nav-bar__btn.open .nav-bar__burger {
  transform: translateX(-1px);
  background: transparent;
}
.nav-bar__btn.open .nav-bar__burger::before {
  transform: rotate(45deg) translate(1px, -1px);
}
.nav-bar__btn.open .nav-bar__burger::after {
  transform: rotate(-45deg) translate(1px, 1px);
}
.nav-bar__burger {
  width: 16px;
  height: 2px;
  background: #2b272f;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.nav-bar__burger::before, .nav-bar__burger::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: #2d2640;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.nav-bar__burger::before {
  transform: translateY(-5px);
}
.nav-bar__burger::after {
  transform: translateY(5px);
}
.nav-bar__nav-menu {
  height: calc(100vh - 80px);
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  text-align: center;
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #2b272f;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform ease 0.5s;
}
@media screen and (min-width: 768px) {
  .nav-bar__nav-menu {
    height: auto;
    position: static;
    transform: translateY(0);
    z-index: auto;
    background: none;
  }
}
.nav-bar__nav-menu.open {
  transform: translateY(0%);
}
.nav-bar__nav-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-bar__nav-list {
    padding-top: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.nav-bar__nav-link {
  margin: 20px 5% 0 5%;
  width: 320px;
  height: 55px;
  list-style: none;
}
@media screen and (max-width: 320px) {
  .nav-bar__nav-link {
    width: 280px;
    margin: 5px 5% 0 5%;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__nav-link {
    width: auto;
    margin: 0 0 0 25px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__nav-link {
    margin-left: 30px;
  }
}
.nav-bar__nav-link__hyper {
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  .nav-bar__nav-link__hyper {
    font-size: 1em;
    font-weight: 700;
    color: #837d87;
  }
  .nav-bar__nav-link__hyper:hover {
    color: #2b272f;
  }
}
.nav-bar__nav-link--active {
  border: solid 2px #fafafa;
}
@media screen and (min-width: 768px) {
  .nav-bar__nav-link--active {
    border-color: #2b272f;
    color: #2b272f;
    width: 120px;
  }
  .nav-bar__nav-link--active .nav-bar__nav-link__hyper {
    color: #2b272f;
  }
  .nav-bar__nav-link--active .nav-bar__nav-link__hyper:hover {
    background: #2b272f;
    color: #fafafa;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__nav-link--active {
    margin: 0 35px;
    width: 145px;
  }
}

.img-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .img-container {
    position: absolute;
    right: 25px;
    padding-top: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .img-container {
    right: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .img-container {
    right: 160px;
  }
}
.img-container__family-img {
  position: relative;
}
@media screen and (max-width: 320px) {
  .img-container__family-img {
    width: 320px;
  }
}
@media screen and (min-width: 414px) {
  .img-container__family-img {
    width: 414px;
  }
}
@media screen and (min-width: 768px) {
  .img-container__family-img {
    z-index: 1;
    width: 375px;
  }
}
@media screen and (min-width: 1280px) {
  .img-container__family-img {
    display: block;
    background: url(./images/image-intro-desktop.jpg) no-repeat;
    width: 440px;
    height: 550px;
    padding-left: 440px;
  }
}
@media screen and (min-width: 1440px) {
  .img-container__family-img {
    width: 540px;
    height: 650px;
    padding-left: 540px;
  }
}

.intro {
  position: relative;
  height: 500px;
  padding: 100px 25px;
  background-color: #2d2640;
  text-align: center;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  .intro {
    height: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .intro {
    height: 600px;
  }
}
@media screen and (min-width: 768px) {
  .intro__container {
    height: 540px;
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .intro__container {
    width: 540px;
    height: 330px;
    margin-left: 150px;
    margin-top: 100px;
    text-align: start;
  }
}
.intro__container::before {
  content: url(./images/bg-pattern-intro-left-mobile.svg);
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 1280px) {
  .intro__container::before {
    content: url(./images/bg-pattern-intro-left-desktop.svg);
    top: unset;
    bottom: -335px;
  }
}
.intro__container::after {
  content: url(./images/bg-pattern-intro-right-mobile.svg);
  position: absolute;
  bottom: -175px;
  right: 0;
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .intro__container::after {
    content: url(./images/bg-pattern-intro-right-desktop.svg);
    bottom: unset;
    top: -70px;
  }
}
@media screen and (min-width: 1280px) {
  .intro__line {
    position: absolute;
    top: 150px;
    height: 1px;
    width: 150px;
    background-color: #fafafa;
    z-index: 1;
  }
}
.intro__title {
  font-family: "DM Serif Display", serif;
  position: relative;
  z-index: 0;
  width: 325px;
  font-size: 2.9em;
  font-weight: 400;
  line-height: 1em;
  padding-bottom: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .intro__title {
    width: 270px;
    font-size: 2.4em;
  }
}
@media screen and (min-width: 1280px) {
  .intro__title {
    margin: 0;
    width: auto;
    font-size: 3.3em;
  }
}
@media screen and (min-width: 1280px) {
  .intro__title-break {
    display: table;
  }
}
.intro__description {
  font-family: "Karla", sans-serif;
  line-height: 1.5em;
  padding-bottom: 30px;
}
.intro__btn {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  width: 150px;
  height: 40px;
  background: transparent;
  border-style: none;
  border: solid 2px #fafafa;
  color: #fafafa;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
